<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'indexdept.html' %}
{% block body %}
<body><head><style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

/*#customers tr:nth-child(even){background-color:#660066;}*/

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color:#660066 ;
  color: white;
}
</style></head>
<form id="form1" name="form1" method="post" action="">
  <table id="customers" width="376" height="105" border="1" bgcolor="#ffccff">
    <tr>
      <th height="50">s1.No</th>
      <th>Assigned Date</th>
      <th>Officer Name </th>
      <th>Complaint Photo</th>
      <th>current status of the complaint </th>
    </tr>
    {% for i in val %}


    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{i.complaintid.date}}</td>
      <td>{{i.officerid.Fname}} {{i.officerid.Lname}}</td>
      <td>&nbsp;<img src="../media/{{i.complaintid.complaint}}" width="140" height="120"></td>
      <td>{{i.status}}</td>
    </tr>

    {% endfor %}

  </table>
</form>
</body>
{% endblock %}
<!--</html>-->
