{% extends 'indexdept.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <!--<table width="200" border="1">-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="viewdoff">view officers</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="viewdcomplaint">view complaints</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="checkstatcmp">check the status of assigned complaints</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="/">logout</a></div></td>-->
    <!--</tr>-->
  <!--</table>-->
</form>
</body>
{% endblock %}
