{% extends 'indexadmin.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <!--<table width="309" height="187" border="1">-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="addmofficer">Add and manage officer</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="adddept">Add and manage department</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="viewacomplaint">view user complaint</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="viewfeed">view user feedback</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="viewuser">view user</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="blockofficer">block and unblock officers</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="/">logout</a></div></td>-->
    <!--</tr>-->
  <!--</table>-->
</form>
</body>
{% endblock %}
