<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'indexadmin.html' %}
{% block body %}

<body><head><style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

/*#customers tr:nth-child(even){background-color: #660066 ;}*/

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color:#660066 ;
  color: white;
}
</style></head>
<form id="form1" name="form1" method="post" action="">
  <table  id="customers"  class="table" border="2" bgcolor="#ffccff">
    <tr>
      <th width="62">SI.No</th>
      <th width="62">Date</th>
      <th width="89">UserName</th>
      <th width="71">Complaint</th>
      <th width="103">Location</th>
    </tr>
{% for i in val %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{i.date}}</td>
      <td>{{i.userid.Fname}} {{i.userid.Lname}}</td>
      <td>&nbsp;<img src="../media/{{i.complaint}}" width="140" height="120"></td>
      <td><a href="http://maps.google.com/maps?q={{i.latitude}},{{i.altitude}}">track location</a></td>
    </tr>
{% endfor %}
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}
